/* index.html的样式 */

/* header样式--开始 */
#header {
    height: 32px;
    background-color: #f2f2f2;
    font-size:12px;
    line-height: 32px;
    border-bottom:1px solid #e5e5e5;
}
.login-info{
    float: left;    
}
.quick-menu{
    float: right;
}
.quick-menu > li{
    float: left;
}
#header a , .login-info span{
    color:#999;
}
#header a:hover{
    color:#ff0036;
}


.sn-login{
    padding:0 10px 0 20px;
}
.sn-register{
    padding: 0 10px;
}
/* li的左右内边距 */
.sn-mytaobao,.sn-cart,.sn-favorite,
.sn-mobile,.sn-home,.sn-seller,.sn-sitemap{
    padding: 0 10px;
}
/* 给有三角形图标的 li 元素开启相对定位 */
.sn-mytaobao ,.sn-favorite,
.sn-seller,.sn-sitemap{
    height: 33px;
    position: relative;
}
/* 用伪类选择器 设置三角形图标 */
.quick-menu .triangle::after {
    content: "";
    position: absolute;
    top:50%;
    right:2px;
    margin-top: -1px;
    height: 0;
    width: 0;
    border-width:3px;
    border-style: solid;
    border-color:#bbb transparent transparent transparent;
    transition: none; /* 鼠标离开 取消过渡（动画） */
    transform-origin: 3px 1.5px; /* 设置旋转的点 */
}
/* 当鼠标进入 有三角形图标的 li 元素，三角形旋转与过度 */
.quick-menu .triangle:hover::after{
    transform: rotate(180deg); /* 设置旋转角度 */
    transition: all .2s linear; /* 设置过渡（动画） */
}
/* 设置有三角形图标的 li 元素的 左右边框 */
.quick-menu .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
}
/* 当鼠标进入 三角图标 li 元素 ，左右边框显示 */
.quick-menu .triangle:hover{
    background-color: white;
    border-color: #e5e5e5;
	cursor: pointer;
}
/* 鼠标进入三角图标 li 元素，显示二级下拉菜单 */
.quick-menu .menu-bd {
    position: absolute;
    left: -1px;
	top: 32px;
	z-index: 1;
    background-color: white;
    border: solid 1px #e5e5e5;
    border-top: none;
    padding:8px 10px;
    display: none;
}
.quick-menu .menu-bd .menu-bd-panel {
    width: 72px;
    line-height: 20px;
    height: 20px;
}
.quick-menu .triangle:hover  .menu-bd {
    display: block;
}
/* 设置三角图标 li 元素内鼠标经过 a 元素时显示的下划线 */
#header .triangle:hover  .menu-hd {
    color: #ff0036;
}
#header .sn-sitemap:hover .menu-hd{
	color: #999;
}
.triangle a:hover{
    text-decoration: underline;
}

/* 设置小图标 */
.sn-cart .icon-gouwuchekong , 
.sn-mobile .icon-shouji54 ,
.sn-sitemap .icon-icon-test{
    font-size: 13px;
    font-weight: bold;
    color: #d81e06;
}
/* 收藏夹右边竖线 */
.sn-separator{
    display: block;
    width:0;
    height: 14px;
    line-height: 14px;
    border-left:1px solid #ccc;
    margin:9px 2px 0 5px;
    padding:0;
}

/* 二维码样式 */
#header .quick-menu .sn-mobile{
	position:relative;
}
#header .quick-menu .sn-mobile .qr-code {
	width: 175px;
	height: 227px;
	background: #fff;
	position: absolute;
	left: -45px;
	top: 26px;
	z-index: 1;
	box-shadow: 0 0 5px #aaa;
	display: none;
}
#header .sn-mobile .qr-code .img-top {
	margin-top:5px;
}
#header .sn-mobile .qr-code .img-bottom {
	position: absolute;
	left: 50%;
	bottom: 9px;
	margin-left: -75px;
}
#header .sn-mobile .qr-code::after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px;
	border-color: transparent transparent #fff transparent;	
	position: absolute;
	top: -10px;
	left:50%;
	margin-left:-5px;
}
#header .sn-mobile:hover .qr-code{
	display: block;
}

/* 商家支持样式 */
.merchant-menu {
	width: 142px;
	padding-top:8px;
	background: #fff;
	position: absolute;
	right: -1px;
	top: 32px;
	border:solid #eee;
	border-width: 0 1px 1px 1px;
	display: none;
}
.merchant-menu .hd-list , .merchant-menu .bd-list {
	width: 142px;
	clear: both;
	overflow: hidden;
}
.merchant-menu .hd-list li ,.merchant-menu .bd-list li{
	float: left;
	line-height: 15px;
	height: 15px;
	/* padding-bottom:8px; */
	padding:0 10px 8px 10px;
}
.merchant-menu p{
	font-weight: bold;
	line-height: 15px;
	height: 15px;
	padding:0 10px 5px 10px;
}
.merchant-hd {
	width: 122px;
	/* overflow: hidden; */
	border-bottom: 1px dotted #ccc;
	margin-left: 10px;
	margin-bottom:8px ;
}
.triangle:hover .merchant-menu {
	display: block;
}

/* 网站导航样式 */
.navigtion-menu {
	width: 1198px;
	padding: 25px 0;
	background: white;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	border-color: #eee;
	position: absolute;
	right: -1px;
	top: 32px;
	z-index: 11;
	display: none;
}
.nav-hot , .nav-market  {
	width: 455px;
	height: 110px;
	float: left;
	padding-left: 30px;
	border-color:#dedede;
	border-style: dotted;
	border-width:0 1px 0 0;
}
.nav-help {
	width: 196px;
	height: 110px;
	float: left;
	padding-left: 30px;
}
.nav-hot h2,.nav-market h2,.nav-help h2 {
	padding-bottom:8px;
	height: 22px;
	line-height: 22px;
	font-weight: 400;
	font-size: 16px;
}
.nav-hot h2 {
	color: #f56a00;
}
.nav-market h2 {
	color:#2263d4;
}
.nav-help h2 {
	color:#666;
}
.nav-hot ul ,.nav-market ul {
	float: left;
	width: 475px;
}
.nav-help ul {
	float: left;
	width: 216px;
}
.nav-hot li ,.nav-market li , .nav-help li {
	width: 95px;
	height: 28px;
	float: left;
}
#header .nav-hot li a:hover{
	color: #F56A00;
}
#header .nav-market li a:hover{
	color: #2263d4;
}
#header .nav-help li a:hover{
	color: #666;
}
.navigtion-menu ul li a {
	position: relative;
}
.navigtion-menu .icon-xin,.navigtion-menu .icon-huo {
	width: 9px;
	height: 11px;
	position: absolute;
	top: -17px;
	right: -9px;
	font-size:14px;	
}
.navigtion-menu .icon-xin {
	color: #0f0;
}
.navigtion-menu .icon-huo {
	color: #F56A00;
}
#header .sn-sitemap .menu-hd:hover {
	color: #999;
	text-decoration: none;
}
.sn-sitemap:hover .navigtion-menu {
	display: block;
}
/* header样式--结束 */

/* search样式--开始 */
/* logo样式 */
#search .logo-info {
	float: left;
	width: 290px;
	height: 130px;
	margin-left: -45px;
}
/* 搜索框样式 */
#search .search-brace {
	height: 38px;
}
#search .search-mall {
	width: 621px;
	margin-left: 303px;
	border: 2px solid #ff0036;
	overflow: hidden;
	position: relative;
}
#search .search-mall label {
	max-width: 90%;
    overflow: hidden;
	white-space: nowrap;
	font-size: 14px;
    line-height: 36px;
	height: 36px;
	color: rgb(102, 102, 102);
	visibility: visible;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 0;
}
#search .search-mall .search-box {
	width: 483px;
	height: 26px;
	padding: 5px 3px 5px 5px;
	border: none;
	outline: none;
	float: left;
	font-size: 14px;
    line-height: 26px;
}
/* 搜索框按钮样式 */
#search .search-mall .search-btn {
	width: 130px;
	height: 36px;
	background: #ff0036;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 5px;
	border: none;
	float: left;
}
/* search样式--结束 */

/* mail-nav样式-开始 */
/* 主要导航栏样式 */
#mail-nav {
	margin-top:52px;
	height: 35px;
	clear: both;
}
#mail-nav .mail-list {
	width: 1030px;
	height: 35px;
	line-height: 35px;
	margin-left:200px;
	float: left;
}
#mail-nav .mail-list a img {
	width: 100px;
	height: 35px;
	vertical-align: middle;
}
#mail-nav .mail-list a {
	display: inline-block;
	padding:0 7px;
	font-size: 16px;
	line-height: 35px;
	height: 35px;
	color: #333333;
}
#mail-nav .mail-list a:hover {
	color: #ff0036;
}
/* mail-nav样式-结束 */

/* banner样式-开始 */
#banner {
	border-top:2px solid #ff0036;
}
/* 轮播图 侧导航样式 */
#banner .mail-commodity {
	width: 200px;
	height: 36px;
	line-height: 36px;
	background: #ff0036;		
	margin-top: -36px;
	float: left;
	position: relative;
	z-index: 2;
}
#banner .mail-commodity .icon-caidan {
	color: #fff;
	margin-left: 14px;
	font-weight: 400;
}
#banner .mail-commodity i {
	display:inline-block;
	color: #fff;
	font-size: 16px;	
	font-weight: 700;
	margin-left: 8px;
	font-style: normal;
}
#banner .mail-commodity .normal-nav {
	width: 200px;
	height: 500px;
	background: rgba(0,0,0,.55);
}
#banner .normal-nav li {
	height: 31.3px;
    line-height: 31.3px;
}
#banner .normal-nav li a {
	display: inline-block;
	height: 31.2px;
  line-height: 31.2px;
   /* color: #fff; */
	font-size: 14px;
	font-weight: bold;
}
#banner .normal-nav span{
	display: inline-block;
    opacity: .5;
	margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
}
#banner .normal-nav li:hover a span {
	opacity: 1;
}
.lis{
	background: #ffffff;
}
.aColor{
	color: #ffffff;
}
.color0{
	color: #ff0036;
}
.color1 {
	color: #427def;
}
.color2{
	color: #6347ed;
}
.color3{
	color: #e54077;
}
.color4{
	color: #6347ed;
}
.color5{
	color: #427def;
}
.color6{
	color: #fa5c5c;
}
.color7{
	color: #f7a831;
}
.color8{
	color: #f7a831;
}
.color9{
	color: #427def;
}
.color10{
	color: #dd2727;
}
.color11{
	color: #427def;
}
.color12{
	color: #f7a831;
}
.color13{
	color: #3bc7b0;
}
.color14{
	color: #dd2727;
}
.color15{
	color: #3bc7b0;
}

/* 侧边导航 */
#banner .mormal-info{
	/* width:1px; */
	height: 500px;
	/* border:1px solid red; */
	float: left;
	position: absolute;
	left: 200px;
	top: 36px;
	clear: both;
}
.dis{
	display: block;
}
#banner .set-speech{
	width: 852px;
	height: 500px;
	position: absolute;
	background-color: #fff;
	display: none;
}
#banner .info-hot {
	width: 583px;
	height: 462px;
	margin: 19px 30px;
	overflow: hidden;
  background-color: #fff;
	float: left;
}
#banner .info-sub{
	width: 189px;
	height: 480px;
	padding: 10px;
	background-color: #FAFAFA;
	float: left;
}
#banner .hot-title{
	color: #333;
	float: left;
	line-height: 22px;
	/* margin-right: 30px; */
}
#banner .hot-title .title-text{
		display: inline-block;
		width: 82px;
		text-align-last: justify;
		font-size: 14px;
		line-height: 22px;
    overflow: hidden;
		text-align: justify;
		font-weight: 700;
}
#banner .hot-content{
	color: #999;
	width: 493px;
	/* height: 66px; */
	font-size: 12px;
	line-height: 22px;
	margin-left: 100px;
}
#banner .hot-content a{
	display: inline-block;
	color: #666;
	margin-left: 13px;
	line-height: 22px;

}
#banner .hot-content .bord{
	width: 493px;
	height: 10.5px;
	border-bottom: 1px dashed rgba(0,0,0,.1);
	margin-bottom: 10.5px;
}

/* 轮播图样式 */
#banner .mail-wai{
	width: 1230px;
	height: 500px;
	overflow: hidden;
	position: relative;
}
#banner .mail-image{
	width: 8610px;
	height: 500px;
	position: absolute;
	left: 0;
}
#banner .mail-image img{
	width: 1230px;
}
#banner .image-center {
	width: 1230px;
	float: left;
	margin: 0 auto;
	text-align: center;
}

#banner .mail-rectangle {
	position: absolute;
	bottom: 20px;
	width: 100%;
	height: 15px;
	z-index: 5;
}
#banner .mail-rectangle ul {
	width: 100%;
	height: 15px;
	line-height: 15px;
	display: flex;
	justify-content: center;
}
.rectangle{
	width: 40px;
	height: 10px;
	line-height: 10px;
	border-radius: 5px;
	background: gray;
	margin-right: 5px;
}
.on{
	background: rgba(252, 175, 9, 0.87);
}

#banner {
	height: 500px;
	background: #000;
	
}
/* banner样式-结束 */

/* interact样式-开始 */
#interact .wrapper {
	margin-top:30px;
}
/* interact的顶部图片样式 */
#interact .interact-car-top {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
/* interact的导航图片样式 */
#interact .interact-cars a{
	display: inline-block;
	width: 238px;
	height: 269px;	
	margin-right:4px;
}
/* #interact .interact-cars img{

} */
#interact .interact-cars img:hover{
	opacity: .7;
}
/* interact样式-结束 */

/* clothes样式-开始 */
#clothes {
	margin-top: 10px;
	background:rgb(240, 240, 240);
	overflow: hidden;
}
#clothes .clothes-brand {
	width: 234px;
	height: 370px;
	margin-right: 13px;
	float: left;
}
#clothes .clothes-luxury {
	width: 485px;
	height: 370px;
	margin-right: 13px;
	float: left;
}
#clothes .clothes-activity {
	width: 485px;
	height: 370px;
	float: left;
}
#clothes .brand-top ,#clothes .luxury-top , #clothes .activity-top {
	position: relative;
	background: #ffffff;
}
#clothes span {
	display: inline-block;
	height: 55px;
	line-height: 55px;
}
#clothes .cn {
	font-size: 18px;
    font-weight: 700;
	color: #333;
	margin-left: 10px;
}
#clothes .en {
	font-size: 14px;
    font-weight: 700;
	color: #333;
	margin-left: 10px;
}
#clothes .clothes-luxury .top-info ,
#clothes .clothes-activity .top-info{
	font-size: 16px;
	color: #666;
	padding-right: 30px;
	position: absolute;
	right: 14px;
	top: 0;
}
#clothes .icon-rightarrow {
	font-size: 16px;
	color: #666;
	padding-right: 4px;
	position: absolute;
	right: 14px;
	top: 0;
}

#clothes .brand-bottom img {
	width: 234px;
	height: 316px;
}
#clothes .luxury-bottom img {
	width: 485px;
	height: 316px;
}
#clothes .activity-bottom img {
	width: 485px;
	height: 316px;
}
#clothes .brand-bottom:hover img , #clothes .luxury-bottom:hover img , #clothes .activity-bottom:hover img {
	opacity: .7;
}
/* clothes样式-结束 */

/* brand-list 样式-开始 */
#brand-list {
	padding-top: 15px;
	overflow: hidden;
	background: rgb(240, 240, 240);
}
#brand-list .list {
	position: relative;
}
#brand-list .list-item {
	width: 1232px;
	height: 327px;
}
#brand-list .list-item li {
	float: left;
	width: 122px;
	height: 108px;
	background: #ffffff;
	margin:0 1px 1px 0;
	position: relative;
}
#brand-list .list-item .list-img {
	width: 122px;
	height: 108px;
	position: relative;
}
#brand-list .list-item .list-img img {
	width: 82%;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -50px;
}

#brand-list .list .list-mask {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: #333;
	transition:all .3s ease-out;
	opacity: 0;
}
#brand-list .list li:hover .list-mask {
	opacity: .9;
}

#brand-list .list .list-mask .coupon {
	color: #fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}
#brand-list .list .list-mask .coupon span {
	display: block;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
}

#brand-list .list .list-mask .enter{
	text-align: center;
    height: 32px;
}
#brand-list .list .list-mask .enter span {
	display: inline-block;
	color: #fff;
	background: #ff0036;
	width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
	border-radius: 9px;
}

#brand-list .list .list-change a{
	width: 122px;
    height: 108px;
    display: block;
    color: #999;
	background-color: #fff;
	position: absolute;
	bottom: 1px;
	right: 1px;
	overflow: hidden;
	transition: all .3s ease-out;
}
#brand-list .list .list-change a:hover {
	color: #fff;
	background: #ff0036;	
}

#brand-list .list .list-change .icon-shuaxinzhongjieban {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -30px;
	margin-left: -20px;
	font-size: 30px;
    text-align: center;
	line-height: 38px;
}
#brand-list .list .list-change a:hover .icon-shuaxinzhongjieban {
	transition: transform .5s ease-out;
	transform: rotate(360deg);
}

#brand-list .list .list-change .change{
	width: 100%;
	font-size: 14px;
	display: inline-block;
	line-height: 136px;
	text-align: center;
}

/* brand=list 样式=结束 */

/* commodity样式-开始 */
#commodity {
	background: rgb(240, 240, 240);
}
#commodity #mail-supermarket .wrapper {
	padding-top: 20px;
}
/* mail-supermarket样式 */
#commodity #mail-supermarket .supermarket-img img {
	width: 214px;
	height: 25px;
}

#commodity #mail-supermarket .supermarket-con {
	width: 100%;
	height: 618px;
	margin-top:7px;
	/* overflow: hidden; */
}
/* 大图片样式 */
#commodity #mail-supermarket .supermarket-con .con-big {
	float: left;
	position: relative;
	/* overflow: hidden; */
}
#commodity #mail-supermarket .supermarket-con .con-big:hover img ,
#commodity #mail-supermarket .supermarket-con .con-big:hover .icon-rightarrow{
	opacity: .7;
}
#commodity #mail-supermarket .supermarket-con .con-big img {
	width: 235px;
	height: 618px;
}
#commodity #mail-supermarket .big-detail {
	width: 218px;
	height: 64px;
	position: absolute;
	bottom: 100px;
	z-index: 1;
}
#commodity #mail-supermarket .detail-left {
	float: left;
	width: 70px;
	height: 64px;
	background: rgba(0,0,0,.9);
	color: #FFF;
	text-align: center;
}
#commodity #mail-supermarket .detail-left span{
	display: inline-block;
	line-height: 24px;
    font-size: 18px;
	width: 36px;
	padding: 8px 0;
}
#commodity #mail-supermarket .detail-right {
	float: left;
	width: 114px;
	height: 56px;
	background: rgba(0,0,0,.6);
	color: #fff;
	padding-left:14px;
	padding-top:8px;
}
#commodity #mail-supermarket .right-top,#commodity #mail-supermarket .right-bottom {
	display: inline-block;
	width: 114px;
	height: 24px;
}
#commodity #mail-supermarket .icon-rightarrow {
	font-size: 30px;
	color: #fff;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/* 右侧内容品牌 */
#commodity #mail-supermarket .supermarket-con .con-brand {
	float: left;
	width: 995px;
	height: 618px;
}
/* 商品网格列表 */
#commodity #mail-supermarket .supermarket-con .con-brand .grid {
	width: 484px;
    height: 301px;
	margin-left: 13px;
	margin-bottom: 15px;
	background: #fff;
	float: left;
}
#commodity #mail-supermarket .supermarket-con .con-brand .grid .grid-tab {
	width: 462px;
	height:282px;
	margin:10px;
	box-shadow: 0 2px 8px 0 rgb(0,0,0,.09);
}
#commodity #mail-supermarket .supermarket-con .con-brand .grid .tab-head {
	overflow: hidden;
    background: #F1F1F1;
}
#commodity #mail-supermarket .supermarket-con .con-brand .grid .grid-tab li {
	float: left;
	width:191px;
	height: 57px;
	padding:0 20px;
	text-align: center;	
	
}
#commodity #mail-supermarket .supermarket-con .con-brand .grid .grid-tab li:hover {
	background: #00B262;
	color: #fff;
}
.first{
	background: #00B262;
	color: #fff;
}
.disblock{
	background: #00B262;
	color: #fff;
}
#commodity #mail-supermarket .supermarket-con .con-brand .grid .grid-tab .head-title {

	display:inline-block;
	cursor: pointer;
	font-size: 18px;
	line-height: 57px;
}


#commodity #mail-supermarket .supermarket-con .con-brand .tab-content {
	position: relative;
}
#commodity #mail-supermarket .supermarket-con .con-brand .tab-content .left-detail{
	position: absolute;
    top: 85px;
    height: 87px;
	width: 291px;
	background: url("../img/Tmall-detail-bg.png") no-repeat 0 center rgb(0,0,0,0);
	z-index: 3;
}
#commodity #mail-supermarket .detail-top {
	width: 265px;
	height: 36px;
	margin-top: 8px;
	margin-left: 26px;
	position: relative;
}
#commodity #mail-supermarket .detail-top img {
	position: absolute;
	top: 6.5px;
	/* vertical-align: middle; */
}
#commodity #mail-supermarket .detail-top span {
	display: inline-block;
	margin-left: 31px;
    font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	color: #00B262;
    letter-spacing: 1px;
}
#commodity #mail-supermarket .detail-bottom {
	width: 291px;
	height: 30px;
}
#commodity #mail-supermarket .detail-bottom span {
	margin-left: 26px;
	font-size: 20px;
	letter-spacing: 1px;
	color: #000;
}

#commodity #mail-supermarket .supermarket-con .con-brand .tab-content .img-detail {
	float: right;
	margin-top: 10px;
	margin-right: 30px;
	width:200px;
	height: 200px;
}

/* 商品价格列表 */
#commodity #mail-supermarket .supermarket-con .grid-price {
	display: block;
	width: 233px;
	height: 280px;
	padding-top: 20px;
	margin-left:13px;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #fff;
	background: #ffffff;
	float: left;
}
#commodity #mail-supermarket .supermarket-con .grid-price:hover {
	border: 1px solid #ff0036;
	opacity: .7;
}
#commodity #mail-supermarket .supermarket-con .grid-price .brand-img img {
	width: 185px;
	height: 185px;
}
#commodity #mail-supermarket .supermarket-con .grid-price .brand-introduce {
	display: block;
	width: 135px;
	height: 40px;
	font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
	margin: 8px auto;	
	/* text-overflow: ellipsis;
    white-space: inherit; */
}
#commodity #mail-supermarket .supermarket-con .grid-price .brand-price {
	display: block;
	line-height: 18px;
	font-size: 18px;
	color: #ff0036;
	margin:10px auto;
}

/* mail-guoji样式-开始 */
#commodity #mail-guoji {
	width: 100%;
	height: 665px;
	margin-top: 20px;
}
#commodity #mail-guoji .guoji-img img {
	width: 214px;
	height: 25px;
}
#commodity #mail-guoji .guoji-brand {
	width: 100%;
	height:618px;
	margin-top: 10px;
}
#commodity #mail-guoji .guoji-brand .guoji-brand-left,
#commodity #mail-guoji .guoji-brand .guoji-brand-right{
	float: left;
}
#commodity #mail-guoji .guoji-brand .con-big {
	width: 235px;
	height: 301px;
	margin-bottom: 15px;
	position: relative;
}
#commodity #mail-guoji .guoji-brand .con-big img {
	width: 235px;
	height: 301px;
}
#commodity #mail-guoji .con-big:hover img ,
#commodity #mail-guoji .con-big:hover .icon-rightarrow{
	opacity: .7;
}
#commodity #mail-guoji .big-detail {
	width: 218px;
	height: 64px;
	position: absolute;
	bottom: 60px;
	z-index: 1;
}
#commodity #mail-guoji .detail-left {
	float: left;
	width: 70px;
	height: 64px;
	background: rgba(0,0,0,.9);
	color: #FFF;
	display: flex;
    justify-content: center;
    align-items: center;
}
#commodity #mail-guoji .detail-left span{
	display: inline-block;
	line-height: 24px;
    font-size: 18px;
	width: 36px;
	padding: 8px 0;
}
#commodity #mail-guoji .detail-right {
	float: left;
	width: 114px;
	height: 56px;
	background: rgba(0,0,0,.6);
	color: #fff;
	padding-left:14px;
	padding-top:8px;
}
#commodity #mail-guoji .right-top,
#commodity #mail-guoji .right-bottom {
	display: inline-block;
	width: 114px;
	height: 24px;
}
#commodity #mail-guoji .icon-rightarrow {
	font-size: 30px;
	color: #fff;
	display: inline-block;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* 右侧商品样式开始 */
#commodity #mail-guoji .guoji-brand-right {
	width: 995px;
	height: 618px;
}
#commodity #mail-guoji .brand-alone {
	position: relative;
}
#commodity #mail-guoji .brand-alone .right-title {
	position: absolute;
    top: 20px;
    left: 25px;
    width: 220px;
    font-size: 18px;
    z-index: 1;
    line-height: 24px;
	height: 24px;
	color: #000;
	text-align: left;
}
#commodity #mail-guoji .brand-alone .right-sub-title {
	position: absolute;
    top: 49px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    z-index: 1;
    line-height: 18px;
	height: 18px;
	color: #7A45E5;
	text-align: left;
}
#commodity #mail-guoji .brand-alone .right-alone {
	width: 170px;
	height: 170px;
	margin: 90px 33px 42px 32px;
}
/* 右侧商品 a 标签列表 */
#commodity #mail-guoji  .grid-price {
	display: block;
	width: 233px;
	height: 280px;
	padding-top: 20px;
	margin-left:13px;
	margin-bottom: 15px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #fff;
	background: #ffffff;
	float: left;
}
#commodity #mail-guoji  .grid-price:hover {
	border: 1px solid #ff0036;
	opacity: .7;
}
#commodity #mail-guoji .grid-price .brand-img img {
	width: 185px;
	height: 185px;
}
#commodity #mail-guoji .grid-price .brand-introduce {
	display: block;
	width: 135px;
	height: 40px;
	font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;	
}
#commodity #mail-guoji .grid-price .brand-price {
	display: block;
	line-height: 18px;
	font-size: 18px;
	color: #ff0036;
	margin:10px auto;
}
/* mail-guoji样式-结束 */

/* mail-brand样式-开始 */
#commodity #mail-brand img {
	width: 100%;
	height: 90px;
	margin-top: 10px;
}
/* mail-brand样式-结束 */

/* mail-fashion样式-开始 */
#commodity #mail-fashion .fashion {
	width: 1230px;
	height: 665px;
	margin-top: 20px;
}

#commodity #mail-fashion .fashion-title {
	width: 100%;
	height: 37px;
	display: flex;
	align-items: center;
}
#commodity #mail-fashion .fashion-title .title-icon {
	width: 5px;
	height: 18px;
	background: #000;
	display: inline-block;
}
#commodity #mail-fashion .fashion-title .title-con {
	display: inline-block;
	margin: 0px 10px;
	font-size: 18px;
	color: #000;
	line-height: 28px;
}
#commodity #mail-fashion .fashion-title .title-con span {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
}
/* 大图片样式 */
#commodity #mail-fashion .fashion-con .con-big {
	float: left;
	position: relative;
	/* overflow: hidden; */
}
#commodity #mail-fashion .fashion-con .con-big:hover img ,
#commodity #mail-fashion .fashion-con .con-big:hover .icon-rightarrow{
	opacity: .7;
}
#commodity #mail-fashion .fashion-con .con-big img {
	width: 235px;
	height: 618px;
}
#commodity #mail-fashion .big-detail {
	width: 218px;
	height: 64px;
	position: absolute;
	bottom: 100px;
	z-index: 1;
}
#commodity #mail-fashion .detail-left {
	float: left;
	width: 70px;
	height: 64px;
	background: rgba(0,0,0,.9);
	color: #FFF;
	display: flex;
    justify-content: center;
    align-items: center;

}
#commodity #mail-fashion .detail-left span{
	display: inline-block;
	line-height: 24px;
    font-size: 18px;
	width: 36px;
	padding: 8px 0;
}
#commodity #mail-fashion .detail-right {
	float: left;
	width: 114px;
	height: 56px;
	background: rgba(0,0,0,.6);
	color: #fff;
	padding-left:14px;
	padding-top:8px;
}
#commodity #mail-fashion .right-top,
#commodity #mail-supermarket .right-bottom {
	display: inline-block;
	width: 114px;
	height: 24px;
}
#commodity #mail-fashion .icon-rightarrow {
	font-size: 30px;
	color: #fff;
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/* 右侧 a 标签列表样式 */
#commodity #mail-fashion  .grid-price {
	display: block;
	width: 233px;
	height: 280px;
	padding-top: 20px;
	margin-left:13px;
	margin-bottom: 15px;
	text-align: center;
	overflow: hidden;
	border: 1px solid #fff;
	background: #ffffff;
	float: left;
}
#commodity #mail-fashion  .grid-price:hover {
	border: 1px solid #ff0036;
	opacity: .7;
}
#commodity #mail-fashion .grid-price .brand-img img {
	width: 185px;
	height: 185px;
}
#commodity #mail-fashion .grid-price .brand-introduce {
	display: block;
	width: 135px;
	height: 40px;
	font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;	
}
#commodity #mail-fashion .grid-price .brand-price {
	display: block;
	line-height: 18px;
	font-size: 18px;
	color: #ff0036;
	margin:10px auto;
}
/* mail-fashion样式-结束 */

/* mail-like样式-开始 */
#commodity #mail-like .like-brand {
	width: 1260px;
	margin-top: 30px;
}
#commodity #mail-like .brand-top {
	width: 100%;
	height: 43px;
	text-align: center;
	position: relative;
}
#commodity #mail-like .brand-top::before {
	content: "";	
	width: 30px;
	height: 1px;
	background: #979797;
	position: absolute;
	top: 12px;
	left: 540px;
}
#commodity #mail-like .brand-top::after {
	content: "";	
	width: 30px;
	height: 1px;
	background: #979797;
	position: absolute;
	top: 12px;	
	right: 540px;
}
#commodity #mail-like .brand-top .icon-aixin {
	font-size: 20px;
	margin-right: 4px;
	color: #ff0036;
}
#commodity #mail-like .brand-top .top-info {
	font-size: 18px;
	line-height: 20px;
	color: #666;
    text-align: center;
    height: 43px;
    font-weight: 100;
}
#commodity #mail-like .con-line::after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 333px;

}
#commodity #mail-like .line-ware {
	width: 235px;
	height: 326px;
	margin-right: 12px;
	margin-bottom: 7px;
	float: left;
}
#commodity #mail-like .line-ware a {
	display: inline-block;
	margin-right: 7px;
    margin-bottom: 7px;
    width: 100%;
	height: 315px;
	background: #fff;
	border: 1px solid #fff ;
}
#commodity #mail-like .line-ware a:hover {
	border: 1px solid #ff0036;
}
#commodity #mail-like .line-ware .ware-pic {
	width: 185px;
	height: 185px;
	margin: 20px 25px 0 25px;
}
#commodity #mail-like .line-ware .ware-pic img{
	width: 185px;
	height: 185px;
}
#commodity #mail-like .line-ware a:hover img {
	opacity: .7;
}
#commodity #mail-like .line-ware .ware-info {
	display: inline-block;
	width:135px;
	height:40px;
	margin:22px 50px 8px 50px;
	font-size: 14px;
    line-height: 19px;
	color: #666;
	overflow: hidden;
}
#commodity #mail-like .line-ware .ware-detail {
	width: 135px;
	text-align: center;
	height: 33px;
    line-height: 22px;
	margin: 2px 50px 0 50px;
	display: inline-block;
	color: #ff0036;
	font-size: 18px;
}

#commodity #mail-like .end {
	width: 80px;
	height: 45px;
	margin:0 auto 10px;
}
#commodity #mail-like .end img {
	width: 80px;
	height: 45px;
}
/* mail-like样式结束 */
/* commodity样式-结束 */

/* footer样式-开始 */
#footer {
	min-height: 558px;
	border-top: 1px solid #d1d7dc;
	text-align: center;
    background: #fff;
    position: relative;
}
/* footer-ensure样式开始 */
#footer .tmall-ensure {
	width: 1190px;
	height:100px;
	margin: 25px auto;
	background: url(../img/footer-ensure.jpg) no-repeat ;
}
#footer .tmall-ensure a {
	width: 297px;
	height: 100px;
	display: block;
	float: left;
}

/* tmall-desc样式开始 */
#footer .tmall-desc {
	width: 1190px;
	height: 190px;
	padding-top: 22px;
	border-top:1px solid #ededed;
	margin: 0 auto;
	background: url("../img/Tmall-eye.png") no-repeat 45px bottom;
	background-size: 68px 25px;
}
#footer .tmall-desc ul {
	width: 186px;
	padding-left: 52px;
	float: left;
	text-align: left;
}
#footer .tmall-desc ul h3 {
	width: 186px;
	height: 30px;
	color: #646464;
    font-size: 16px;
	font-weight: 700;
	line-height: 30px;
}
#footer .tmall-desc ul li {
	height: 20px;
}
#footer .tmall-desc ul a {
	display: inline-block;
	width: 100px;
	height: 20px;
	font-size:12px;
	color: #8b8b8b;
	line-height: 20px;
}
#footer .tmall-desc .desc-mobile img {
	width: 105px;
	height: 105px;
}

/* Tmall-copyright样式开始 */
#footer .tmall-copyright {
	border-top: 2px solid #FF0036;
    background: #000;
    text-align: left;
	min-height: 177px;
}
#footer .tmall-copyright p {
	width: 1190px;
	padding: 5px 0;
	margin:0 auto;
	color: #fff;
	line-height: 25px;
	font-size: 12px;
}
#footer .tmall-copyright p a {
	margin-right: 3px;
    color: #fff;
}
#footer .copyright-con {
	color:#a4a4a4;
	width: 1190px;
	height: 150px;
	margin: 0 auto;
	font-size: 12px;
}
#footer .copyright-con a {
	margin-right: 65px;
	color:#a4a4a4 ;
}
#footer .copyright-con a img {
	vertical-align: middle;
}

#footer .copyright-con p img {
	height: 30px;
}
/* server-num样式开始 */
#footer .server-num {
	width: 100%;
	height: 18px;
	background: #000;
}
/* footer样式-结束 */